<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="User">
    <resultMap id="baseMap" type="User">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>

        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <sql id="tb">
        wink_user
    </sql>

    <sql id="cols_all">
        id,
        <include refid="cols_exclude_id"/>
    </sql>

    <sql id="cols_exclude_id">
        `user_name`, `password`, `nickname`, `created_at`, `updated_at`,`is_deleted`
    </sql>

    <sql id="vals">
        #{userName}, #{password}, #{nickname}, now(), now(),false
    </sql>

    <sql id="criteria">
        is_deleted=false
        <if test="id != null">AND id = #{id}</if>
        <if test="userName != null">AND user_name = #{userName}</if>

    </sql>


    <update id="update" parameterType="User">
        UPDATE
        <include refid="tb"/>
        SET
        <if test="userName != null">user_name = #{userName},</if>
        <if test="password != null">password = #{password},</if>
        <if test="nickname != null">nickname = #{nickName},</if>

        updated_at = now()
        WHERE id = #{id}
    </update>

    <insert id="create" parameterType="User" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="tb"/>
        (<include refid="cols_exclude_id"/>)
        VALUES
        (<include refid="vals"/>)
    </insert>

    <select id="find" parameterType="map" resultMap="baseMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        <where>
            <include refid="criteria"/>
        </where>
    </select>

    <select id="findById" parameterType="long" resultMap="baseMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE id = #{id}
    </select>

    <select id="findByIds" parameterType="list" resultMap="baseMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE
        <foreach collection="list" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </select>

    <select id="count" parameterType="map" resultType="long">
        SELECT count(id)
        FROM
        <include refid="tb"/>
        <where>
            <include refid="criteria"/>
        </where>

    </select>


    <select id="paging" parameterType="map" resultMap="baseMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        <where>
            <include refid="criteria"/>
        </where>
        <if test="orderBy != null">
            ORDER BY `${orderBy}`
        </if>
        <if test="orderBy != null and orderDesc">
            DESC
        </if>
        <if test="orderBy == null">
            ORDER BY id DESC
        </if>
        LIMIT #{offset}, #{limit}
    </select>

    <select id="list" parameterType="map" resultMap="baseMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        <where>
            <include refid="criteria"/>
        </where>
        ORDER BY id DESC
    </select>

    <delete id="delete" parameterType="long">
        DELETE FROM
        <include refid="tb"/>
        WHERE id = #{id}
    </delete>

</mapper>